.portfolio__container{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 5.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    color: var(--color-bg)
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: #5BB099;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.btn:hover{
    background: #5BB099;
}

.portfolio__item h3{
    margin: 1.2rem 0.2rem;
    color: var(--color-bg)
}

.portfolio__item-cta{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}
#btn1{
    color: var(--color-bg);
    border-color: var(--color-bg);
}
/*
.portfolio__item-cta a{
    color: var(--color-bg);
    border-color: var(--color-bg);
}*/




/*----------MEDIA QUERIES(SMALL DEVICES)-----------*/
@media all and (max-width: 700px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 3rem;
        color: red;
    }
    body{
        color:red;
    }
    .portfolio__item {
        background: red;
        color: red;
    }
    .portfolio__item:hover{
        border-color: var(--color-primary-variant);
        background: red;
    }
}