.about__container{
    display: grid;
    grid-template-columns:35% 50%;
    gap: 15%;
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
    45deg,
    transparent,
    var(--color-bg-variant),
    transparent
    );
    display: grid;
    place-items: center;
}


.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover{
    transform: rotate(0);
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    color: var(--color-bg);
}

.about__card:hover{
    background: #5BB099;
    border-color: var(--color-primary-variant);
    cursor: default;


}

.about__icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.about__card h5{
    font-size: 1.05rem;
}

.about__card h5::after{
    content: "";
    display: block;
    margin-left: 1.2rem;
    width: 2.8rem;
    padding-top: 0.2rem;
    border-bottom: 2px solid var(--color-bg);
}



.container__small{
    margin-top: 1rem;
}

.about__card small{
    margin-top: 30px;
    font-size: 0.8rem;
    color: var(--color-bg);
}

.about__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}


/*----------MEDIA QUERIES(SMALL DEVICES)-----------*/
@media screen and (max-width: 600px){
    #about{
        margin-top: 0;
    }
    .about_me{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }
    .about__me {
        display: grid;
        place-items: center;
        margin-right: 25%
    }
    .about__cards {
        display: grid;
        width: 90%;
        margin-bottom: 20%;
        margin-left: 1rem;
        grid-template-columns: repeat(1, 1fr);

    }

    .about__container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5%;
    }

    .about_text{
        width: 80%;
        margin-bottom: 70%;
    }
    #talk{
        display: none;
    }

    .about__card h5::after{
        content: "";
        display: block;
        margin-left: 4.2rem;
        width: 3.5rem;
        padding-top: 0.2rem;
        border-bottom: 2px solid var(--color-bg);
    }

}


/*media query from 900px to 1100px*/
@media screen and (min-width: 601px) and (max-width: 1350px){
    .about__cards {
        grid-template-columns: repeat(2, 1fr); /* Two columns for the first row */
    }
    .about__card:last-child {
        grid-column-end: span 2; /* Make the last card span two columns */
    }

}




