footer{
    background: var(--color-primary);
    padding: 3rem 0;
    text-align:center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a{
    color: var(--color-bg);
}
/*
 hover-underline-animation class taken from:
https://www.30secondsofcode.org/css/s/hover-underline-animation
*/

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--color-bg);
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.permalinks a:hover {
    color: var(--color-bg);
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover{
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}
/**/
@media all and (max-width: 600px){
    .permalinks{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .footer_links{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-around;

    }
    .footer__socials{
        display: flex;
        flex-direction: column;
    }
  }




